{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
</div>
{{ wtf.quick_form(form,action="") }}

{{ form.phone(autocomplete="off",class="form-control") }}
{{ form.submit }}


{{ wtf.form_field(form.phone) }}

{% endblock %}
