{% extends "base.html" %}

{% block title %}Flasky - Internal Server Error{% endblock %}

{% block page_content %}

<table class="table table-striped">
    <thead>
        <tr>
          <th>#</th>
          <th>phone</th>
          <th>time</th>
          <th>notification</th>
          <th>delete</th>
        </tr>
    </thead>
    <tbody>
    {%- for show in shows %}
        <tr id="{{ show.phone }}">
            <td>{{ show.id }}</td>
            <td>{{ show.phone }}</td>
            <td>{{ show.time }}</td>
            <td><button type="button" class="btn btn-success">notification</button></td>
            <td><button type="button" class="btn btn-danger">delete</button></td>
        </tr>
    {%- endfor %}
    </tbody>
</table>
{% endblock %}

{% block del %}
<script type=text/javascript>

$('button[class="btn btn-danger"]' ).click(function() {
   var phoneid = $(this).closest('tr').attr('id'); // table row ID
   $.post("{{ url_for('show') }}", {
            phone: phoneid
        });
   $($(this).closest('tr')).fadeOut("slow");
 });

$('button[class="btn btn-success"]' ).click(function() {
   $($(this).closest('tr')).fadeTo("slow",0.37);
 });

</script>
{% endblock %}




